/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  
}

/* Aula Flexbox */
body {
  margin: 0x;
  padding: 0x;
  font-size: 20px; 
  background-color:#FFFFFF ;

  background: no-repeat;
  
  
}
h1 {
  font-size: 25px;
  font-weight: 600;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  box-shadow: 0 0 16px #2A3238;
  border-radius: 30px;
  
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  gap: 40px;
  text-align: center;
  justify-content: center;
}

li {
  list-style: none;
}
header {
   background-color:#E5E9EC;
}

a {
  color:blue;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-weight: 600;
  font-size: 25px;
  

}
.a {
  margin-top: 20px;
  color:blue;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-weight: 600;
  font-size: 16px;

}

footer{
     background-color:#E5E9EC;
     color:#0F1822 ;
     font-size: 25px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 400;
     margin-top: 162px;
}    

img { 
  display: flex;
  gap: 40px;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  
}

label {
  color:#2A3238 ;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  width: 200 px;
  height: 16px;
  margin-left: 400px;
}

input {
  width: 400px;
  height: 30px;
  font-size: 16px;
  background-color:beige;
  border-radius: 10px;
  border-width: 1px;
  margin-left: 400px;
  
}
textarea {
  margin-left: 400px;
  background-color:beige;

}

.p {
    text-align:center;
    color :blue;
} 


.nav_titulo {
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 15px 30px;

  box-shadow: 0 0 16px #2A3238;
  border-radius: 30px;
  
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.botao{
   border:silver;
    border-radius: 30px; 
   color: rgb(255, 153, 0); 
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    font-size: larger;
}
.botao:hover{
    background-color: blue;
    color: white;
    transform: scale(1.01)
}

.botao1{
    margin-left: 400px;
    border:silver;
    border-radius: 30px; 
    color:blue;
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    font-size: larger;
}
    

.botao1:hover{
    background-color:blue; 
    color: white;
    transform: scale(1.01)
}

/* Aula Grid */

.grid {
  max-width: 1600px;
  display: grid;
  grid-template-columns: repeat(1fr 1fr);
  gap: 10px;
  
}

.grid-container {
  margin-top: 15px;  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(155px, 2fr));
 /* grid-template-columns: repeat(3, 1fr); /* Cria 2 colunas de igual tamanho (1fr) */
  gap: 10px; /* Adiciona um espaçamento entre as colunas */
  
}
.grid-item {
  color:#2A3238 ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align:justify;
  border-radius: 20px;
  background-color: #E5E9EC;
  
}

.grid-item1 {
  color:#2A3238;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  border-radius: 16px;
  background-color: #E5E9EC;
  
}


/* Aula de Responsividade */

main {
  padding: 10px 10px;
  display: flex;
  justify-content:center;
}

@media (max-width: 1280px) {
  main {
    padding: 30px 20px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
    label {
    margin-left: 400px;
  }

   input{
    margin-left: 400px;
  }
  textarea{
    margin-left: 400px;
  }
   .botao1{
    margin-left: 400px;
  }

}

@media (max-width: 990px) {
  main {
    padding: 20px;
  }
 
  
img {
  margin-top: 0;
  width: 50;

}
  label {
    margin-left: 200px;
  }

   input{
    margin-left: 200px;
  }
  textarea{
    margin-left: 200px;
  }
   .botao1{
    margin-left: 200px;
  }

}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
    label {
    margin-left: 5px;
  }

  input{
    margin-left: 5px;
  }
   
  textarea{
    margin-left: 5px;
  }
  .botao1{
    margin-left: 5px;
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
    label {
    margin-left: 5px;
  }

   input{
    margin-left: 5px;
  }
  textarea{
    margin-left: 5px;
  }
   .botao1{
    margin-left: 5px;
  }


  .logo {
  
     margin:50px;
     width: 20px;
     height: 20px;
  
  }

  ul {
    gap: 8px;
    
  }

  nav {
    padding: 10px 15px;
  }

  a {
    font-size: 16px;
  }
  h1 {
    text-align: center;
  }
}
